{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <br>
  <h3>Voter Registration</h3>

  {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
  {% endif %}
  <br>

  <!-- <div class="infobox"> -->
    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}

      {{form.as_p}}
      <input class="btn btn-success" type="submit" name="submit" value="SignUp">
    </form>
    <br><br><br>
</div>


<!-- </div> -->
<!-- <div class="infobox">
  <img src="/static/kenya2.jpg" alt="">
  <br><br>
</div> -->


{% endblock %}
