{% extends 'base.html' %}

{% block content %}
  <br>
  <h3>Create Candidate Profile</h3>
  <br>
  <br>
  <div class="alert alert-danger" role="alert">
  {% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  {% endif %}
  </div>
  <br>
  <br>
  <div class="jumbotron">
  <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{form.as_p}}
      <tr>
        <td colspan='2'>
          <br>
          <input class="btn btn-success" type="submit" name="submit" value="Create Profile">
        </td>
      </tr>
    </table>


  </form>

</div>





{% endblock %}
