{% extends 'base.html' %}
{% block content %}
<br>
  <h1>KIJA Open Positions</h1>
  <br>
  <a href="{% url 'candidates' %}" class="btn btn-success">View Candidates Profile</a>
  <br>
  <br>
  {% if position_list %}
    {% for position in position_list.all %}
      <div class="card mb-3">
        <div class="card-body">
          <p>{{ position.position }}</p>
          <a href="{% url 'votedetail' position.id %}" class="btn btn-success btn-sm">Vote Now</a>
          <a href="{% url 'detailresults' position.id %}" class="btn btn-success btn-sm">Results</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No positions available</p>
  {% endif %}
{% endblock %}
